/packages
/Zirpl.CalcEngine.Portable/bin
/Zirpl.CalcEngine.Portable/obj
/Zirpl.CalcEngine.Portable/Zirpl.CalcEngine.Portable.csproj.DotSettings
/Zirpl.CalcEngine.Portable.Tests/obj
/Zirpl.CalcEngine.Portable.Tests/bin
/Zirpl.CalcEngine.v12.suo
